h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

.form {
  width: 320px;
  margin: 0 auto;
  padding: 20px;

  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 25px;
  margin-bottom: 5px;
}

.form_group {
  margin-bottom: 20px;
}
input {
  width: 100%;

  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  background-color: #f5f5f5;
  color: #333333;

  font-size: 25px;
}

.Submit {
  display: block;
  width: calc(100% + 20px);
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  font-size: 25px;
  cursor: pointer;
  transition: ease-in 0.15s all;
  margin-top: 20px;
}

.Submit:hover {
  background-color: white;
  color: black;
  outline: 1px solid black;
}
